
<div class="infobox">
  <%= link_to incident_path(incident) do %>
  <div>
    <p><i class="fas fa-bolt"></i> <%= incident.category %> in <%=incident.address %></p>
    <p><%= incident.date.strftime("%A, %d %B ") %>, <%= incident.time.strftime("%-l:%M %P") %></p>
  </div>
  <div>
    <p><%= incident.description %></p>
  </div>
  <div>
    <%if incident.photos.attached? %>
    <% incident.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:'incident-photo'%>
     <% end %>
    <% else %>
      <p>This incident has no photo<p>
    <% end %>
  </div>
  <% end %>
  <div>
    <% if policy(incident).edit? %>
      <%= link_to 'Update', edit_incident_path(incident) %>
    <% end %>
  </div>
</div>
