<div class="infobox my-container">
  <%= link_to incident_path(incident) do %>
  <div>
    <p class='title-infowindow'><%= image_tag "thunder.png" %><strong> <%= incident.category %> in <%=incident.address %></strong></p>
    <div class="line-small"></div>
    <p><%= incident.date.strftime("%A, %d %B ") %>, <%= incident.time.strftime("%-l:%M %P") %></p>
  </div>
  <div>
    <p><%= incident.description %></p>
  </div>
  <%= link_to 'See More', incident_path(incident), class:"see-more" %>

    <%#if incident.photos.attached? %>
    <%# incident.photos.each do |photo| %>
      <%#= cl_image_tag photo.key, class:'incident-photo-small'%>
     <%# end %>
    <%# else %>
    <%# end %>
  <% end %>
    <%# if policy(incident).edit? %>
      <%#= link_to 'Update', edit_incident_path(incident) %>
    <%# end %>
</div>
