
<div class="infobox">
  <div>
    <p><%= incident.category %></p>
    <p><%= incident.description %></p>
  </div>
  <p><%= incident.address %></p>
  <p><%= incident.date %></p>
  <p><%= incident.time %></p>
</div>
