<% incidents_same_area = markers.select{ |marker| marker.longitude == incident.longitude && marker.latitude == incident.latitude} %>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <p><%= pluralize( incidents_same_area.count, "incident" ) %> reported here</p>
  <hr>
  <div class="carousel-inner">
    <%# Loop %>
    <% incidents_same_area.each_with_index do |incident, index| %>
    <% url = "https://api.mapbox.com/geocoding/v5/mapbox.places/#{incident.longitude},#{incident.latitude}.json?access_token=#{apiKey}"%>
    <% neighborhood = JSON.parse(URI.open(url).read) %>
    <div class="carousel-item <%= "active" if index == 0 %>">
      <div class="infobox my-container">
        <%= link_to incident_path(incident) do %>
          <div>
            <%= image_tag "thunder.png" %><p><strong> <%= incident.category %> in <%=neighborhood["features"][1]["text"] %></strong></p>
            <div class="line-small"></div>
            <p><%= incident.date.strftime("%A, %d %B ") %>, <%= incident.time.strftime("%-l:%M %P") %></p>
          </div>
          <div>
            <p><%= incident.description %></p>
          </div>
          <%= link_to 'See More', incident_path(incident), class:"see-more" %>
        <% end %>
      </div>
    </div>
    <% end %>
    <%# Loop Ends %>
  </div>
  <% if incidents_same_area.count > 1 %>
  <div class="carousel-action">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <%= image_tag "left-arrow.png", class:"icon-small carousel-control-prev-icon", aria_hidden:"true" %>
      <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <%= image_tag "right-arrow.png", class:"icon-small carousel-control-next-icon", aria_hidden:"true" %>
      <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <% end %>
</div>
