<div class="container my-4">
  <h1 class="text-center">Report a new incident</h1>
  <%= simple_form_for @incident do |f| %>
    <%= f.input :address,
              label: false,
              input_html: { data: { geocoder_target: "address" }, class: "d-none w-100" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
    <div class="d-flex justify-content-between w-100">
      <%= f.input :date, as: :date, label: false, html5: true %>
      <%= f.input :time, as: :time, label: false, html5: true %>
    </div>
    <%= f.input :category,
            label: false,
            collection: Incident::CATEGORIES,
            as: :radio_buttons,
            input_html: { class: "tag-selector" },
            item_wrapper_class: 'tag-item' %>
    <%= f.input :authorities, label: "Reported to Authorities", as: :boolean %>
    <%#= f.input :status, as: :boolean %>
    <%= f.input :description, label: false, as: :text, label: false, :placeholder => "Describe the incident in a few lines" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: "button-primary w-100" %>
  <% end %>
</div>
