
<div class="dropdown-new">
<label for="cars">Choose a car:</label>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select> ̰
</div>



<%#= link_to incident_path(incident) do %>
<% @incidents.each do |incident| %>
  <div class="incidentlist-card">
    <p><strong>Date:</strong> <%= incident.date.strftime("%A, %d %B ") %></p>
    <p><strong>Time:</strong> <%= incident.time.strftime("%-l:%M %P") %></p>
    <p><strong>Neighborhood:</strong>  <%= incident.neighborhood %></p>
    <p><strong>Category:</strong> <%= incident.category %></p>
    <p><strong>Description:</strong> <%= incident.description %></p>
  </div>
<% end %>

<%# end %>
