<div class="list">
  <ul>
    <li>Date</li>
    <li>Time</li>
    <li>Neighborhood</li>
    <li>Category</li>
    <li>Description</li>
  </ul>
<%#= link_to incident_path(incident) do %>
<ul>
  <% @incidents.each do |incident| %>
    <li data-label="date"> <%= incident.date.strftime("%A, %d %B ") %></li>
    <li data-label="time"><%= incident.time.strftime("%-l:%M %P") %></li>
    <li data-label="neighborhood"><%= incident.neighborhood %></li>
    <li data-label="category"><%= incident.category %></li>
    <li data-label="description">
      <p> <%= incident.description %></p>
    </li>
    <% end %>
  </ul>

<%# end %>
