
<div>
  <%= form_tag incidents_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Date, Neighborhood"%>
    <%= submit_tag "Sort by", class: "btn btn-sort-home" %>
  <% end %>
</div>


<%#= link_to incident_path(incident) do %>
<% @incidents.each do |incident| %>
  <div class="incidentlist-card">
    <p><strong>Date:</strong> <%= incident.date.strftime("%A, %d %B ") %></p>
    <p><strong>Time:</strong> <%= incident.time.strftime("%-l:%M %P") %></p>
    <p><strong>Neighborhood:</strong>  <%= incident.neighborhood %></p>
    <p><strong>Category:</strong> <%= incident.category %></p>
    <p><strong>Description:</strong> <%= incident.description %></p>
  </div>
<% end %>

<%# end %>
