<div class="navbar-safeblok">
  <div class="my-container">
    <div class="navbar-tabs">
      <%= link_to root_path do %>
        <%= image_tag 'home.png' %>
      <% end %>
      <%= link_to incidents_path(:tab => "map") do %>
        <%= image_tag 'location.png' %>
      <% end %>
      <div class="navbar-plus">
        <%= link_to new_incident_path do %>
          <%= image_tag 'plus.png' %>
        <% end %>
      </div>
      <%= link_to stats_path do %>
        <%= image_tag 'stats.png' %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path(current_user) do %>
          <%= image_tag "user.png" %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag "user.png" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
