
<div class="my-container", data-controller="charts">
  <h1>Statistics View</h1>

  <div class="cards-incidents-global d-none">
    <% @incidents_per_location.each do |key, value| %>
      <div class="card-incident">
        <p class="card-incident-location-key"><%= key%></p>
        <p class="card-incident-location-value"><%= value %></p>
      </div>
    <% end %>
    <br>
    <div class="card-incidents">
      <p>Most common incidents:</p>
      <% @incidents_per_category.each do |key, value| %>
        <div class="card-incident", id="<%= key %>">
            <p><%= key %></p>
            <p class="card-incident-category-value"><%= value %></p>
        </div>
      <% end %>
    </div>

    <div class="card-incidents">
      <p>Time of incidents:</p>
      <% @incidents_per_time.each do |key, value| %>
        <div class="card-incident", id="<%= key %>">
          <p class="card-incident-time-key"><%= key.strftime("%H").to_i %></p>
          <p class="card-incident-time-value"><%= value %></p>
        </div>
      <% end %>
    </div>

    <div class="card-incidents">
      <p>Date of incidents:</p>
      <% @incidents_per_date.each do |key, value| %>
        <div class="card-incident", id="<%= key %>">
          <p class="card-incident-date-key"><%= key.strftime("%Y-%m-%d")%></p>
          <p class="card-incident-date-value"><%= value %></p>
        </div>
      <% end %>
    </div>
  </div>

<%# CHART - CATEGORIES %>
    <div>
      <canvas id="categoryChart"></canvas>
    </div>

    <script>
      const labels1 = [
        'Attempt',
        'Items Stolen',
      ];

      const data1 = {
        labels: labels1,
        datasets: [{
          label: 'Most common incidents',
          backgroundColor: ['rgb(255, 99, 132)', 'blue'],
          borderColor: ['rgb(255, 99, 132)', 'blue'],
          data: [document.querySelectorAll(".card-incident-category-value")[0].innerText, document.querySelectorAll(".card-incident-category-value")[1].innerText],
        }]
      };
      const config1 = {
        type: 'doughnut',
        data: data1,
        options: {
        }
      };
    </script>

    <script>
      const categoryChart = new Chart(
        document.getElementById('categoryChart'),
        config1
      );
    </script>

<%# CHART - LOCATION %>
  <div>
      <canvas id="locationChart"></canvas>
    </div>

    <script>

      function grabInnerText(x) {
        return x.innerText
      }

      let arrLocationKey =  Array.from(document.querySelectorAll(".card-incident-location-key"))
      let locationKey = arrLocationKey.map(grabInnerText)
      let arrLocationValue = Array.from(document.querySelectorAll(".card-incident-location-value"))
      let locationValue = arrLocationValue.map(grabInnerText)

      const labels2 = locationKey;

      const data2 = {
        labels: labels2,
        datasets: [{
          label: 'Incidents per location',
          backgroundColor: ['rgb(255, 99, 132)', 'blue'],
          borderColor: ['rgb(255, 99, 132)', 'blue'],
          data: locationValue,
        }]
      };

      const config2 = {
        type: 'bar',
        data: data2,
        options: {
          scales: {
            y: {
              ticks: {
                stepSize: 1
              }
            }
          }
        }
      };
    </script>

    <script>
      const locationChart = new Chart(
        document.getElementById('locationChart'),
        config2
      );
    </script>

<%# CHART - TIME %>
    <div>
      <canvas id="timeChart"></canvas>
    </div>

    <script>

      function compare(a,b) {
          return a-b
        }

      let arrTimeKey =  Array.from(document.querySelectorAll(".card-incident-time-key"))
      let timeKey = arrTimeKey.map(grabInnerText).map(x => parseInt(x)).sort(compare)
      let arrTimeValue = Array.from(document.querySelectorAll(".card-incident-time-value"))
      let timeValue = arrTimeValue.map(grabInnerText)
      console.log(arrTimeKey.map(grabInnerText).map(x => parseInt(x)).sort())
      console.log(timeValue)

      const labels3 = timeKey;

      const data3 = {
        labels: labels3,
        datasets: [{
          label: 'Incidents per time',
          backgroundColor: ['rgb(255, 99, 132)', 'blue'],
          borderColor: ['rgb(255, 99, 132)', 'blue'],
          data: timeValue,
        }]
      };

      const config3 = {
        type: 'line',
        data: data3,
        options: {
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 1
              }
            }
          }
        }
      };
    </script>

    <script>
      const timeChart = new Chart(
        document.getElementById('timeChart'),
        config3
      );
    </script>

<%# CHART - DATE %>
    <div>
      <canvas id="dateChart"></canvas>
    </div>

    <script>

      let arrDateKey =  Array.from(document.querySelectorAll(".card-incident-date-key"))
      let dateKey = arrDateKey.map(grabInnerText)
      let arrDateValue = Array.from(document.querySelectorAll(".card-incident-date-value"))
      let dateValue = arrDateValue.map(grabInnerText)
      console.log(dateValue)

      const labels4 = dateKey;

      const data4 = {
        labels: labels4,
        datasets: [{
          label: 'Incidents per date',
          backgroundColor: ['rgb(255, 99, 132)', 'blue'],
          borderColor: ['rgb(255, 99, 132)', 'blue'],
          data: dateValue,
        }]
      };

      const config4 = {
        type: 'line',
        data: data4,
        options: {
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 1
              }
            }
          }
        }
      };
    </script>

    <script>
      const dateChart = new Chart(
        document.getElementById('dateChart'),
        config4
      );
    </script>

    </div>
  </div>



<br>
<br>
<br>
<br>
<br>
<br>
</div>
